// Place all the styles related to the accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* COLORS */
@import 'colors';

.registrations.new form{
	input {font-family: "Roboto";}
	label {
		font-family: "Source Serif Pro";
	}
	h4 { 
		color: $darkerblue;
		margin-top: 40px;
		font-family: "Roboto";
		font-weight: bold;
	}
	.acct input {
			width: 70%;
		}

	.field {
		margin-bottom: 20px;

		p {
			font-family: "Roboto";
			font-weight: 700;
			font-size:1.5em;
			color: #203053;
		}
	}
	.terms p, .terms ol li{
		font-family: "Roboto";
		font-size: 1.1em;
		margin-bottom:20px;
		ol>li {
			margin-bottom:20px;
		}
		ol {margin-top:20px;}
	}
	ol {
	    counter-reset: item;
	}

	ol > li {
	    counter-increment: item;
	}

	ol ol > li {
	    display: block;
	}

	ol ol > li:before {
	    content: counters(item, ".") ". ";
	    margin-left: -20px;
	}

	input[type="submit"] {
		margin-top:50px;
	}
}


	.regform_fields {
		padding: 10px 20px;
		margin:8px 0;
		box-sizing:border-box;
		border-radius:0; 
		background-color:#e6e6e6;
	}

#account-details {
	font-family: "Roboto";
	h3,h2 { font-weight: 700; }
	h2 {text-transform:uppercase;}
}

#account-sign-ups {
	h3 {text-transform: uppercase;}
}

@media (max-width: 767px){

}
@media (min-width: 768px) {
	#account-details {
		border-right:1px solid black;
		min-height: 50vh;
	}	
}

.accounts.sign_ups table, .accounts.group_signups table{
	margin-top: 30px;
	.success {
		background: #dff0d8;
	}
	.warning {
		background: #fcf8e3;
	}
	.danger {
		background: #f2dede;
	}
	form input, button {
		font-weight: 700;
		font-family: "Roboto";
	}
	
}

#account-details {
	padding-right: 20px;
}

.sign_ups, .group_signups, .index {
	.btn {
		color: $darkerblue;
	}
	h4 {font-family: "Roboto";}

	.modal-body {
		input {
			font-size:1.5em;
			font-family: "Roboto";
			width: 100%;
			border: 1px solid $darkerblue;
		}

		button[type="submit"] {
			display: block;
			margin-top: 10px;
			margin-left: auto;
			margin-right: auto;
			background-color:$darkerblue;
			color:#79ADD2;
			font-weight:bold;
			border-radius:0;
			font-size: 1.3em;
			padding: 10px 20px;
			box-shadow: none;
			appearance: none;
			border: none;
			font-family: "Roboto";
			transition: 0.3s ease;
			&.disable-button {
				background:grey;
				color: white;
				&:hover {background-color: grey;}
			}
			&:hover {
				background-color: $blue;
			}
		}
	}
}

.confirmation-slip {
	font-family: "Roboto";
	h4 {
		line-height: 2em!important;
		text-indent: 50px;
	}
	.lines {margin-top: 80px;}
	.forms {
		border-top: 1px solid black;
	}
}

.account-submit {
	width: 25%;
}

.edit-account label{
  width: 4em;
  float: left;
  text-align: right;
  margin-right: 0.5em;
  display: block
}

.writeup, .edit-info {
	font-family: "Roboto";
}

.writeup-body {
	font-family: "Roboto";
	font-size: 14px;
	white-space: pre-line;
}

.writeup div {
	height: auto;
}

.disabledwriteup {
	background:grey;
	color:white;
}

.writeup.form-control {
	margin-top: 30px;
	width: 100%;
}