// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "colors";

.with-fixed-navbar {
	padding-top: 100px;
}

.admins {
	font-family: "Roboto";
	font-weight: 400;
}

em.current {
	font-weight: bold;
}