// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* COLORS */
@import 'colors';

h1 {
	color: $blue;
	font-family: "Source Serif Pro"!important;
}

h5 {
	font-family: "Roboto"!important;
	font-weight:400;
}

#home-page {
	background-image: image-url("homebg.png");
	background-size: cover;
	background-position: center center;
	height: 100vh;
	width: 100vw;

	.flex {
		height:100vh;
		width: 100vw;
		position:absolute;
		z-index: 3;
		.logo-opening {
			height: 30vh;
			min-width:300px;
			margin-bottom: 30px;
		}

		h4 {
			font-family: "Roboto";
			font-weight:900;
			text-align: center;
			color:white;
		}
		h1 { color: white;}
		a { 
			font-family: "Roboto";
			font-weight:400;
			color: white;
			text-align: center;
		}
		p {text-align: center;}
	}
	
	.arrow-down {
		width: 100px;
		position:absolute;
		bottom:20px;
		margin-left: auto;
		margin-right: auto;
		z-index: 5;
		left:0;
		right:0;
	}
}

.section {
	padding-top: 50px;
	padding-bottom: 50px
}
	#announcements {
		height: 100vh
	}
	#faq {
		background: #C7DAE9;
		h3 {font-family: "Source Serif Pro";}
		section {
			margin-top: 30px;
			margin-bottom:30px;
			h4 {
				font-family: "Roboto";
				font-weight: 700
			}
			p {
				font-family: "Roboto";
				font-weight: 400;
			}
			.bold {
				font-weight:700;
			}
		}
	}

